<section id="media" class="media">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center"><br/>
        <h3>Ahrendee in 'How It's Done' on RTL-Z (June 2021)</h3><s></s>
      </div>
      <div class="col-sm-12 video">
        <video controls #videoPlayer>
          <source src="http://ahrendee.com/2636726916.mp4" type="video/mp4" />
          You browser is not supported. Click <a href="http://ahrendee.com/2636726916.mp4">here</a> for the video
        </video>
      </div>
    </div>
  </div>
</section>
