<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
        <h5><strong>Ahrendee</strong></h5>
        <h6>Ronald Pieterse</h6>
        <p>Burgemeester van Lennepweg 48<br>2101 RH Heemstede<br/>Netherlands</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i>+31 (0)6 41373596</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a
            href="mailto:ronald@ahrendee.com">ronald@ahrendee.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="http://nl.linkedin.com/in/ronaldpieterse" target="_blank"><i
              class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Ahrendee 2023</p>
      </div>
    </div>
  </div>
</footer>
